@use "global" as *;

section.article {
    margin-bottom: rem(30);
    text-align: center;
    padding: rem(5);
}

section.article>img {
    width: 100%;
    margin: 0 auto;
}

section.article h1,
section.article h2,
section.article h3,
section.article h4,
section.article h5 {
    margin-bottom: rem(10);
    color: rgba(255, 20, 147, 1);
}

section.article p,
section.article a,
section.article ul,
section.article blockquote {
    display: block;
    margin-bottom: rem(10);
}

section.article>h1 {
    font-size: rem(24);
}

section.article-pnlink {
    text-align: center;
}

section.article-pnlink>a {
    padding: 0 rem(10);
}

section.article>video {
    width: 100%;

    @include mq(md) {
        width: 70%;
        // 
    }
}

section.article>nav {
    margin-bottom: rem(30);
}

nav.article-index>ul>li:not(:last-child) {
    margin-bottom: rem(10);
}

button.article-svideo {
    display: block;
    width: 100%;
    padding: rem(5);
    background: rgba(255, 20, 147, 0.2);
    position: fixed;
    z-index: 1;
    bottom: rem(30);
    transition: 0.2s;

    @include mq(md) {
        // 
    }
}

button.article-svideo:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 20, 147, 1);
}

.article a.url {
    display: block;
    margin-bottom: rem(10);
}

.article a.url>span::after {
    content: "\a";
    white-space: pre;

    @include mq(md) {
        white-space: nowrap;
        // 
    }
}

.article>video {
    margin-bottom: rem(30);
}

.article-pnlink {
    margin-top: 50px;
}

.article .blog {
    margin: 0 auto;
}