@use "global" as *;

a.card {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  @include mq(md) {
    // 
  }
}

.card-figure {
  padding-top: 63%;
  overflow: hidden;
  position: relative;
}

.card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: rem(16);
  color: rgba(255, 255, 255, 1);
  background: rgba(51, 51, 51, 0.3);
  padding: rem(15);
  border-radius: rem(15);
  width: 100%;
}