@use "global" as *;

ul.cards-gallery {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;

  @include mq(md) {
    // 
  }
}

li.cards-gallery-list {
  flex-basis: 50%;
  width: 50%;

  @include mq(md) {
    flex-basis: 25%;
    width: 25%;
    // 
  }
}