@use "global" as *;

.swiper-single {
    width: 100%;
    margin-bottom: rem(10);

    @include mq(md) {
        margin: 0 auto;
        margin-bottom: rem(10);
        width: 70%;
    }
}

figure.swiper-image {
    display: block;
    // width: 100%;
    padding-top: 63%;
    background: rgba(255, 192, 203, 0.5);
    position: relative;
    overflow: hidden;

    @include mq(md) {
        // 
    }
}

figure.swiper-image>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);

    @include mq(md) {
        // 
    }
}