@use "global" as *;

ul.tags {
    display: flex;
    flex-wrap: wrap;
    // 
}

li.tags-list {
    background: rgba(0, 0, 255, 0.1);
    border-radius: rem(5);
    margin-bottom: rem(5);
    // 
}

li.tags-list:not(:last-child) {
    margin-right: rem(5);
    // 
}

a.tags-link {
    display: block;
    width: 100%;
    padding: rem(2) rem(10);
    // 
}